<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Special Order</title>
</head>
<body>
<div>Finish Mill,</div><br/>
<div>The order# {{ order_number }} for {{ customer }} {{ product_name }} has been released for production.</div><br/>
{% if order_reason == "Non-Existing Material Specification" or order_reason == "Customer Sample" or order_reason == "Special Assembly" or order_reason == "Special Packaging" or order_reason == "Profile Testing" or order_reason == "Process Testing" %}
{% elif order_reason == "New Product" %}
    <div>This is a new product order, and will be arriving on green paper.</div>
{% else %}
    <div>This order does not have any special instructions, and will be arriving on blue paper.</div><br/>
{% endif %}
<div>
    <div>Here is the information regarding this order:</div>
    <p>
        Design code: {{ design_code }}<br/>
        Special order reason: {{ order_reason }}<br/>
        Product name: {{ product_name }}<br/>
        Customer: {{ customer }}<br/>
        Assembly/Lipping date: {{ process_date }}<br/>
        Ship Date: {{ ship_date }}<br/>
        Order number(s): {{ order_number }}<br/>
        Sequence number(s): {{ sequence_numbers }}<br/>
        Tooling status: {{ tooling_status }}<br/>

        Programming status:
        {% if programming_status %}
            Completed
        {% else %}
            Not Complete
        {% endif %}<br/><br/>
        <b>Engineering Concerns:</b><br/>
        <label for="framing">Framing Setup:</label>
        <input id="framing" type="checkbox" disabled
                {% if engineering_framing_setup %}
                    checked
                {% endif %}><br/>
        <label for="panel">Panel Setup:</label>
        <input id="panel" type="checkbox" disabled
                {% if engineering_panel_setup %}
                    checked
                {% endif %}><br/>
        <label for="lipping">Lipping Setup:</label>
        <input id="lipping" type="checkbox" class="checkbox" disabled
                {% if engineering_lipping_setup %}
                    checked
                {% endif %}><br/>
        <label for="assembly">Assembly:</label>
        <input id="assembly" type="checkbox" class="checkbox" disabled
                {% if engineering_assembly %}
                    checked
                {% endif %}><br/>
        <label for="options">Options:</label>
        <input id="options" type="checkbox" class="checkbox" disabled
                {% if engineering_options %}
                    checked
                {% endif %}><br/>
        <label for="other">Other (See notes):</label>
        <input id="other" type="checkbox" class="checkbox" disabled
                {% if engineering_other %}
                    checked
                {% endif %}><br/><br/>

        Order notes: {{ order_notes }}<br/>
    </p>
    {% if order_reason != "New Product" %}
        <div>Team leaders, if programming status is not "completed" you must coordinate with the maintenance department to get this accomplished.</div><br/>
        {% if order_reason == "Non-Existing Material Specification" or order_reason == "Customer Sample" or order_reason == "Special Assembly" or order_reason == "Special Packaging" or order_reason == "Profile Testing" or order_reason == "Process Testing" %}
            <div>Quality department, please include engineering concerns on new product/sample sign off sheets.</div><br/>
            <div>The special handling tag that will be attached to this paperwork can be seen here:
            <a href="http://10.50.2.140/{% url 'handling_tag' order_pk %}">Special Handling tag!</a>
            </div><br/>
        {% else %}
            <div>This order has no special handling tag</div>
        {% endif %}
    {% endif %}
    <p>Thank you!</p>
    <p>- Aaron</p>
</div>
</body>
</html>