<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Special Order</title>
</head>
<body>
<div>Dimension Mill,</div><br/>
<div>The order# {{ order_number }} for {{ customer }} {{ product_name }} is ready for release.</div><br/>
{% if order_reason == "Non-Existing Material Specification" or order_reason == "Customer Sample" or order_reason == "Special Assembly" or order_reason == "Special Packaging" or order_reason == "Profile Testing" or order_reason == "Process Testing" %}
    <div>This is a code 26 special order. Please print paperwork on bright green paper.</div><br/>
    <div>Please click here:
        <a href="127.0.0.1:8000/handlingtag/{{ order_pk }}">Special Handling tag!</a>
        and print the special handling tag. Attach this tag to the front of the shop floor paperwork.
    </div><br/>
{% elif order_reason == "New Product" %}
    <div>This is a new product order. Please print on bright green paper.</div><br/>
    <div>No special handling tag is required for this order.</div><br/>
    <div>The notes entered were: {{ order_notes }}</div><br/>
{% else %}
    <div>This is a code 25 special order. Please print paperwork on bright blue paper.</div><br/>
    <div>No special handling tag is required for this order.</div><br/>
    <div>The notes entered were: {{ order_notes }}</div><br/>
{% endif %}
    <p>Thank you!</p>
    <p>- Aaron</p>
</body>
</html>