{% extends "ordermanager/base.html" %}
{% block content %}

    <h1 class="contacttitle">{{ contact.first_name }}</h1>

    <p><b>Name:</b> {{ contact.first_name|safe|linebreaksbr }} {{ contact.last_name|safe|linebreaksbr }}</p>
    <p><b>Email Address:</b> {{ contact.email_address|safe|linebreaksbr }}</p>
    <p><b>Site:</b> {{ contact.site|safe|linebreaksbr }}</p>
    <p><b>Active User:</b> {{ contact.active|safe|linebreaksbr }}</p>

    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'contact_edit' pk=contact.pk %}">
            Edit
        </a>
    {% endif %}

{% endblock %}
