{% extends "ordermanager/base.html" %}
{% load bootstrap4 %}
{% block content %}

    <h1 class="ordertitle">{{ order.order_number }}
    {% if user.is_authenticated %}
        {% buttons %}
            <a class="btn btn-primary btn-lg" href="{% url 'order_edit' pk=order.pk %}">
                Edit Order Details
            </a>
        {% if order.order_reason == "Non-Existing Material Specification" or order.order_reason == "Customer Sample" or order.order_reason == "Special Assembly" or order.order_reason == "Special Packaging" or order.order_reason == "Profile Testing" or order.order_reason == "Process Testing" %}
            <a class="btn btn-info btn-lg" href="{% url 'handling_tag' pk=order.pk %}">
                {{ "View Handling Tag" }}
            </a>
        {% endif %}
        {% endbuttons %}
    {% endif %}
    </h1>
    <p><b>Order Reason: </b>{{ order.order_reason }}</p>
    <p><b>Customer: </b>{{ order.customer }}</p>
    <p><b>Product Name: </b>{{ order.product_name }}</p>
    <p><b>Title: </b>{{ order.title }}</p>
    <p><b>Design Code: </b>{{ order.design_code }}</p>
    <p><b>Carrier: </b>{{ order.carrier }}</p>
    <p><b>Ship Date: </b>{{ order.ship_date }}</p>
    <p><b>Processing Date: </b>{{ order.process_date }}</p>
    <p><b>Sequence Numbers: </b>{{ order.sequence_numbers }}</p>
    <p><b>Tooling Status: </b>{{ order.tooling_status }}</p>
    <p><b><label>Programming Status:
            <input type="checkbox" disabled
            {% if order.programming_status %}
                    checked
            {% endif %}>
        </label></b></p>
    <table>
        <tr><th colspan="6"><b>Engineering Concerns:</b></th></tr>
        <tr>
            <td><label for="framing">Framing Setup:</label></td>
            <td><input id="framing" type="checkbox" disabled
                {% if order.engineering_framing_setup %}
                    checked
                {% endif %}></td>
            <td><label for="panel">Panel Setup:</label></td>
            <td><input id="panel" type="checkbox" disabled
                {% if order.engineering_panel_setup %}
                    checked
                {% endif %}></td>
            <td><label for="lipping">Lipping Setup:</label></td>
            <td><input id="lipping" type="checkbox" class="checkbox" disabled
                {% if order.engineering_lipping_setup %}
                    checked
                {% endif %}></td>
        </tr>
        <tr>
            <td><label for="assembly">Assembly:</label></td>
            <td><input id="assembly" type="checkbox" class="checkbox" disabled
                {% if order.engineering_assembly %}
                    checked
                {% endif %}></td>
            <td><label for="options">Options:</label></td>
            <td><input id="options" type="checkbox" class="checkbox" disabled
                {% if order.engineering_options %}
                    checked
                {% endif %}></td>
            <td><label for="other">Other (See notes):</label></td>
            <td><input id="other" type="checkbox" class="checkbox" disabled
                {% if order.engineering_other %}
                    checked
                {% endif %}></td>
        </tr>
    </table>
    <p><b>Order Notes: </b>{{ order.order_notes }}</p>
    <p><b>Customer Feedback: </b>{{ order.feedback }}</p>
    <p><b>Date Order Entered: </b>{{ order.date }}</p>

{% endblock %}
