.techfont{
    font-family: 'Russo One', sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

.order a{
    font-size: 1.5em!important;
}

.welcome{
    font-family: 'Russo One', sans-serif;
    font-size: 1em;
    color: white!important;
}